<!-- This will soon be transferred to the home.html page, with the home.html page content swapped here -->

{% extends "layout.html" %}
{% block content %}
	<section class="vh-40">
<!--		Container settings-->
		<div class="container-fluid py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100 g-0" style="background-color: #C0DFE4; border-radius: 2rem;">
				<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
					<!--Just basic text here-->
					<h2>Get your dopamine fix and manage your tasks with DopeTicks today!</h2>
					<a href={{ url_for('users.register') }} class="btn btn-sm btn-outline-primary">Create New Account</a>
					<a href={{ url_for('users.login') }} class="btn btn-sm btn-outline-secondary">Log In</a>

					
				</div>
				<div class="col-lg-6 px-0 d-none d-lg-block">
        			<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          				alt="Login image" class ="login-pic" style="object-fit: cover; object-position: right;">
				</div>
			</div>
		</div>
	</section>
{% endblock content %}



