{% extends "layout.html" %}
{% block content %}

<div class="content-section">
	<form method="POST">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-bottom text-center mb-5" style = "font-weight: bold; font-size: 32px; color: #5E5E5E;">{{ legend }}</legend>
			<div class="form-outline mb-2">
				{{ form.taskTitle.label(class="form-control-label") }}
				{% if form.taskTitle.errors %}
					{{ form.taskTitle(class="form-control form-control-lg is-invalid")}}
					<div class="invalid-feedback">
						{% for error in form.taskTitle.errors %}
							<span> {{ error }} </span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.taskTitle(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-outline mb-1">
				{{ form.taskDescription.label(class="form-control-label") }}
				{% if form.taskDescription.errors %}
					{{ form.taskDescription(class="form-control form-control-lg is-invalid")}}
					<div class="invalid-feedback">
						{% for error in form.taskDescription.errors %}
							<span> {{ error }} </span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.taskDescription(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-outline mb-1">
				{{ form.taskDue.label(class="datepicker") }}
				{% if form.taskDue.errors %}
					{{ form.taskDue(class="form-control form-control-lg is-invalid")}}
					<div class="invalid-feedback">
						{% for error in form.taskDue.errors %}
							<span> {{ error }} </span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.taskDue(class="form-control form-control-lg") }}
				{% endif %}
			</div>
		
			<div class="form-outline mb-1">
				<!-- {{ form.taskStatus }} -->
				{% for choices in form.taskStatus %}
				    <label class="radio">
				        {{ choices }}
				        {{ choices.label }}
				    </label>
			    {% endfor %}
			</div>

			<div class="form-outline mb-1">
				{% for choices in form.taskPriority %}
				    <label class="radio">
				        {{ choices }}
				        {{ choices.label }}
				    </label>
			    {% endfor %}
			</div>
			
			<input type="submit">
		</fieldset>
	</form>


</div>
	<script>

		// const btn = document.getElementById('submit');     
		// const radioButtons = document.querySelectorAll('input[name="taskStatus"]');
        // btn.addEventListener("click", () => {
        //     let selectedStatus;
        //     for (const radioButton of radioButtons) {
        //         if (radioButton.checked) {
        //             selectedStatus = radioButton.value;
        //             break;
        //         }
        //     }
        //     // show the output:
        //     // output.innerText = selectedStatus ? `You selected ${selectedStatus}` : `You haven't selected any status`;
        // });


	</script>


{% endblock content %}
