{% extends "layout.html" %}
	{% block content %}
	<div class="container">
		<h2>Kia ora {{ current_user.userFirstName }}!</h2>
		<p>Here's what you've got on at the moment</p> 
	</div>
	<section>
		<div class="container">
			<!-- ToDo, Doing, Done summary cards -->
		    <div class="row d-flex justify-content-center align-items-center">

		        <div class="col-md-4 col-xl-3">
					<div class="card bg-c-yellow order-card cardTag" id="todo-btn" onclick="revealFunction('todo-section', 'todo')">
						<div class="card-block">
							<h6 class="m-b-20">To do</h6>
							<h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>{{ context.todo }}</span></h2>
						</div>
					</div>
		        </div>

		        <div class="col-md-4 col-xl-3">
		            <div class="card bg-c-blue order-card cardTag" id="doing-btn" onclick="revealFunction('progress-section', 'progress')">
		                <div class="card-block">
		                    <h6 class="m-b-20">In progress</h6>
		                    <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>{{ context.doing }}</span></h2>
		                </div>
		            </div>
		        </div>

		        <div class="col-md-4 col-xl-3">
		            <div class="card bg-c-green order-card cardTag" id="done-btn" onclick="revealFunction('done-section', 'done')">
		                <div class="card-block">
		                    <h6 class="m-b-20">Done</h6>
		                    <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>{{ context.done }}</span></h2>
		                </div>
		            </div>
		        </div>

		        <div class="col-md-4 col-xl-3">
		            <div class="card bg-c-pink order-card cardTag" id="overdue-btn" onclick="revealFunction('overdue-section', 'overdue')">
		                <div class="card-block">
		                    <h6 class="m-b-20">Overdue</h6>
		                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>{{ context.overdue }}</span></h2>
		                </div>
		            </div>
		        </div>
			</div>
			<!-- End of summary cards -->

			<div class="col-lg-4">
				<div class="card card-margin text-center ">
					<div class="card-header no-border">
						<h5 class="card-title">Add new task</h5>
					</div>
					<div class="card-body pt-0" style="font-size:3em;">
						<a href={{ url_for('tasks.newTask') }} class="btn btn-lg btn-flash-border-primary ">&#10133</a>
					</div>
				</div>
			</div>

		</div>
	</section>


	<section id="todo-section">
		<div class="container" >
			<div class="row display-flex">
				{% for task in context.todoTasks %}
					<div class="col-lg-4" style="margin-top: 2%;">
						<div class="card card-margin">
							<div class="card-header no-border">
								<h5 class="card-title">{{ task.taskTitle }}</h5>
							</div>
							<div class="card-body pt-0">
								<div class="widget-49">
									<div class="widget-49-title-wrapper">
										<div class="widget-49-date-primary">
											<img class="rounded-circle article-img" src="{{ url_for('static', filename='profilePics/' + task.owner.userImage) }}">
										</div>
										<div class="widget-49-meeting-info">
											<span class="widget-49-pro-title">{{ task.owner.userFirstName }}</span>
											<span class="widget-49-meeting-time">Due on {{ task.taskDue.strftime('%d-%m-%Y') }}</span>
											<span class="widget-49-meeting-time">Task status {{ task.taskStatus }}</span>
											<span class="widget-49-meeting-time">Task priority {{ task.taskPriority }}</span>
										</div>
									</div>
									<ol class="widget-49-meeting-points">
										<p> {{ task.taskDescription}}</p>
									</ol>
									<div class="widget-49-meeting-action">

										<a href={{ url_for('tasks.updateTask', taskID=task.id) }} class="btn btn-sm btn-flash-border-primary">Edit</a>

									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
<!--In progress section-->
	<section id="progress-section">
		<div class="container" >
			<div class="row display-flex">
				{% for task in context.doingTasks %}
					<div class="col-lg-4" style="margin-top: 2%;">
						<div class="card card-margin">
							<div class="card-header no-border">
								<h5 class="card-title">{{ task.taskTitle }}</h5>
							</div>
							<div class="card-body pt-0">
								<div class="widget-49">
									<div class="widget-49-title-wrapper">
										<div class="widget-49-date-primary">
											<img class="rounded-circle article-img" src="{{ url_for('static', filename='profilePics/' + task.owner.userImage) }}">
										</div>
										<div class="widget-49-meeting-info">
											<span class="widget-49-pro-title">{{ task.owner.userFirstName }}</span>
											<span class="widget-49-meeting-time">Due on {{ task.taskDue.strftime('%d-%m-%Y') }}</span>
											<span class="widget-49-meeting-time">Task status {{ task.taskStatus }}</span>
											<span class="widget-49-meeting-time">Task priority {{ task.taskPriority }}</span>
										</div>
									</div>
									<ol class="widget-49-meeting-points">
										<p> {{ task.taskDescription}}</p>
									</ol>
									<div class="widget-49-meeting-action">

										<a href={{ url_for('tasks.updateTask', taskID=task.id) }} class="btn btn-sm btn-flash-border-primary">Edit</a>

									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>


{% endblock content %}



<!--		<div class="content-section">
			<h1>{{ task.taskTitle }}</h1>
			<img class="rounded-circle article-img" src="{{ url_for('static', filename='profilePics/' + task.owner.userImage) }}">
			<p> created by {{ task.owner.userFirstName}} {{ task.owner.userLastName}}</p>
			<p> {{ task.taskDescription}}</p>
			<p>  due on {{ task.taskDue.strftime('%d-%m-%Y') }}</p>
			<p> {{ task.taskStatus }}</p>
			<a href={{ url_for('task', taskID=task.id) }}><button type="button" class="btn btn-outline-secondary">Edit</button></a>

		</div>-->