{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}		# Hidden tag method adds a CSRF token
			<fieldset class="form-group">
				<legend class="border-bottom mb-4"> Join Today</legend>
				<div class="form-group">
					{{ form.email.label(class="form-control-label") }}
					{{ form.email(class="form-control form-control-lg") }}
				</div>
			</fieldset>

		</form>
	</div>
{% endblock content %}
